
.signin-body {
  padding: 0 40px 36px 40px;

  .sign-in {
    display: inline-block;
    width: 352px;
    height: 265px;

    div input {
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      font-size: 14px;
    }

    input[type='password'] {
      letter-spacing: 1.8px;
      font-size: 24px;
      color: #1a1a1a;
    }

    .signin-account {
      margin-top: 16px;
      height: 48px;
      border-bottom: 1px solid #ebebeb;

    }

    .signin-password {
      margin-top: 12px;
      height: 48px;
      position: relative;
      border-bottom: 1px solid #ebebeb;

      img {
        position: absolute;
        top: 14px;
        right: 0;
      }
    }

    .signin-options {
     margin-top: 12px;
     height: 20px;
     display: flex;
     justify-content: space-between;

     button {
      font-size: 14px;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: #fff;
     }
     
     .signin-options-switchType {
      color: #175199;

      &:hover {
        color: #8590a6;
      }
     }

     .signin-options-info {
       color: #8590a6;

       &:hover {
         color: gray;
       }
     }
    }
  }
}

