
.signup-wrap {
  padding: 0 40px 36px 40px;

  .account {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    border-bottom: 1px solid #ebebeb;
    height: 48px;

    .select-counrty {
      position: relative;
      padding:0 22px 0 0;
      height: 100%;
      font-size: 14px;
      line-height: 48px;
      color: #8590a6;
      cursor: pointer;
      user-select: none;

      .country-list {
        overflow: scroll;
        z-index: 203;
        position: absolute;
        top: 0;
        left: -16px;
        border: 1px solid #ebebeb;
        box-shadow: 0 5px 20px rgba(26,26,26,.1);
        padding: 8px 0;
        width: 200px;
        height: 516px;
        background-color: #fff;
        list-style: none;

        li {
          padding: 0 20px;
          height: 40px;
          line-height: 40px;

          &:hover {
            background-color: #f6f6f6;
          }
        }
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 10px;
        height: 10px;
        transform: rotate(45deg) scale(0.5,0.5);
      }

      &::before {
        top: 15px;
        border-top: 3px solid #8590a6;
        border-left: 3px solid #8590a6;
      }

      &::after {
        bottom: 15px;
        border-right: 3px solid #8590a6;
        border-bottom: 3px solid #8590a6;
      }
    }

    span {
      margin: 13px 12px 0;
      width: 1px;
      height: 22px;
      background-color: #ebebeb;
    }

    input {
      border: none;
      outline: none;
      font-size: 14px;
      line-height: 48px;

      &.error-tip {
        position: relative;

        &::before {
          content: "请输入手机号";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 48px;
        }
      }
    }
  }

  .verification-code {
    position: relative;
    margin-top: 12px;
    border-bottom: 1px solid #ebebeb;
    height: 48px;

    input {
      border: none;
      outline: none;
      width: 100%;
      height: 100%;
      font-size: 14px;
    }

    p {
      position: absolute;
      top: 0;
      right: 0;
      color: #175199;
    }
  }

  p {
    margin-top: 12px;
    height: 20px;
    line-height: 20px;
    color: #8590a6;
    font-size: 14px;
    text-align: right;
    cursor: pointer;
    user-select: none;

    &:hover {
      color: gray;
    }
  }

  .subbmit {
    margin-top: 30px;
    border: none;
    border-radius: 3px;
    outline: none;
    width: 100%;
    height: 36px;
    font-size: 14px;
    color: #fff;
    background-color: #0084ff;
    cursor: pointer;

    &:hover {
      background-color: #0077e6;
    }
  }

  .agreement {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #8590a6;

    a {
      color: #175199;
      cursor: pointer;
      text-decoration: none;
    }

    span a {
      color: #8590a6;

      &:hover {
        color: gray;
      }
      
    }
  }
}

